{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>movie website home page</title>
    <meta charset="UTF-8"/>
    <meta name="viewport"  content="width=device-width initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="{% static 'homepage.css' %}"/>
  </head>
  <body>
    <div class="top_navigation">
      <div class="site_name"><h2>COMIX</h2></div>
      <div class="nav_container">
        <nav><a href="http://localhost:8158/Web_app_project/Homepage_project/homepage.html" id="active">Home</a>&nbsp;&nbsp;<a href="#">About</a>&nbsp;&nbsp;<a href="#">Gallary</a>&nbsp;&nbsp;<a href="#">Service</a>&nbsp;&nbsp;<a href="#">Blog</a>
        </nav>
      </div>
      <a href="http://localhost:8158/Web_app_project/Login_project/Login_project.html"><div class="login_button"> ->] LOGIN</div></a>
    </div>
    <header>
      <div class="head_content" >
        <div class="head_image_container"><im src="" al="crimson image"/></div>
        <div class="head_discription_container">
          <h1>CRIMSON COMET</h1>
          <p>The city&apos;s legendary protector returns to face a new threat that looms over the metropoli. A must-read superhero saga!
          </p>
          <a href="#"><div id="btn" >READ THE FIRST ISSUE</div>
          </a>
        </div>
      </div>
      <div class=swich_button>
       <button type="button" id="btn1"><-</button>
       <button type="button" id="btn2">-></button>
      </div>
    </header>
    <br/>
    <div class="main_heading">
      <h2>LATEST RELEASES</h2>
      <p>Hot off the press! check out the newest issues from your favourite creators.</p>
    </div>
    <main>
      <div class="global_container" >
        <div class="content1"><a href="#"><img src="{%static 'cyber_souls.jpg' %}" alt="cyber souls"/></a></div>
        <div class="content2"><a href="#"><img src="{%static 'void_walker.jpg' %}" alt="void walker"/></a></div>
        <div class="content3"><a href="#"><img src="{%static 'mystic_acts.jpg' %}" alt="mystic acts"/></a></div>
        <div class="content4"><a href="#"><img src="{%static 'Crimson_comet.jpg' %}" alt="crimson comet"/></a></div>
      </div>
    </main>
  </body>
</html>