{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>this is my first login for project</title>
    <meta name="viewport" content="width=device-width intial-scale=1.0"/>
    <link rel="stylesheet" href="{%static 'login_project.css' %}" type="text/css"/>
  </head>
  <body>
    <div class="container">
      <h2>Login</h2>
      <hr/>
      <form action="#" method="post" autofocus="focus" >
        <input type="text" name="username" placeholder="username" partern="[A-Z a-z]" required/>
        <input type="password" name="password" placeholder="password" required minlength="8"/>
        <p><a target="_self" href="#" >Forget Password?</a></p>
        <button type="submit" value="login">Login</button>
      </form>
      <p id="signup_link"> Not a Member? <a href="http://localhost:8158/Web_app_project/Register_project/Register_project.html" target="_self" rel="preconnect">signup</a>
    </div>
  </body>
</html>